/* --- This is the styling for booking --- */

.white-container {
    padding: 50px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 50px auto;
}

/* Table Styling */
#bookingTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#bookingTable th, #bookingTable td {
    padding: 9px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: 500;
}

#bookingTable th {
    background-color: #0f2044;
    color: white;
}

#bookingTable tr:hover {
    background-color: #f1f1f1;
}

/* Button Styling */
.edit-btn, .delete-btn {
    padding: 9px 24px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.edit-btn {
    background-color: #ffb71b;
    color: black;
}

.delete-btn {
    background-color: red;
    color: white;
}

/* Form Styling */
input {
    font-family: 'Poppins';
    margin-bottom: 15px;
    border: 1.5px solid lightgray;
    padding: 8px 14px;
    width: 25%;
}

select {
    font-family: 'Poppins';
    margin-bottom: 15px;
    border: 1.5px solid lightgray;
    padding: 8px 8px;
    width: 25%;
}
